{%extends 'base.html' %} {%block header %} {%endblock %} {%block body %}
<h1>chatroom</h1>
<h2>{{request.user.username}}</h2>
<input type="hidden" name="" id="username" value="{{request.user.username}}" />
<div id="vd"></div>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script>
  remotepeer = [];
  const username = document.getElementById("username").value;
  const wc = new WebSocket(
    "wss://" + window.location.host + window.location.pathname
  );

  wc.onmessage = function (e) {
    event = e.data.split("\\")[0];
    data = e.data.split("\\")[1];

    if (event == "anum") {
      userlist = JSON.parse(data.split("//")[1]);
      unum = data.split("//")[0];

      var filtered = userlist.filter(function (value, index, arr) {
        return value.username != username;
      });
      console.log(filtered);
      filtered.forEach((element) => {
        remotepeer.push(new Peer());
        var peer = remotepeer[remotepeer.length - 1];
        peer.on("call", function (call) {
          console.log("call received");
          navigator.mediaDevices
            .getUserMedia({ video: true, audio: false })
            .then(function (stream) {
              call.answer(stream);
              call.on("stream", function (e) {
                v = document.createElement("video");
                vd = document.querySelector("#vd");
                vd.appendChild(v);
                v.srcObject = e;
                v.play();
              });
            });
        });
        peer.on("open", function (e) {
          console.log("peerid\\" + element.username + "\\" + e);
          wc.send("peerid\\" + element.username + "\\" + e);
        });
      });
    } else if (event == "peerid") {
      ruser = data;

      if (username == ruser) {
        console.log("success");
        peerid = e.data.split("\\")[2];
        remotepeer.push(new Peer());
        var peer = remotepeer[remotepeer.length - 1];
        setTimeout(function () {
          navigator.mediaDevices
            .getUserMedia({ video: true, audio: false })
            .then(function (stream) {
              call = peer.call(peerid, stream);
              call.on("stream", function (e) {
                v = document.createElement("video");
                vd = document.querySelector("#vd");
                vd.appendChild(v);
                v.srcObject = e;
                v.play();
              });
            });
        }, 1500);
      }
    } else if (event == "") {
    }
  };
</script>
{%endblock%}
